
!data/.gitkeep
!data/cvbench/data.json
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
# Archives
# Byte-compiled / optimized / DLL files
# C extensions
# Celery stuff
# Data and outputs
# Distribution / packaging
# Django stuff:
# Environments
# Flask stuff:
# Folder specific to your needs
# IPython
# Installer logs
# Jupyter Notebook
# PEP 582; used by e.g. github.com/David-OConnor/pyflow
# Profiling data
# PyBuilder
# PyInstaller
# Pyre type checker
# Python cache
# Rope project settings
# SAM3 weights and nested repository metadata
# SageMath parsed files
# Scrapy stuff:
# Secrets
# Sphinx documentation
# Spyder project settings
# Translations
# Unit test / coverage reports
# Usually these files are written by a python script from a template
# Weights
# before PyInstaller builds the exe, so as to inject date/other infos into it.
# ckpts and data
# mkdocs documentation
# mypy
# outputs
# pipenv
# pixi environments
# pyenv
# pytype static type analyzer
#Pipfile.lock
*$py.class
**/__pycache__/
**/outputs/skyseg.onnx
**/tmp/
*.bin
*.ckpt
*.cover
*.egg
*.egg-info
*.egg-info/
*.key
*.log
*.manifest
*.mo
*.npz
*.onnx
*.pot
*.pt
*.pth
*.py,cover
*.py[cod]
*.pyc
*.safetensors
*.sage.py
*.so
*.spec
*.tar
*.tar.gz
*.zip
.DS_Store
.Python
.cache
.cache/
.coverage
.coverage.*
.dmypy.json
.eggs/
.env
.hydra/
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pixi
.prof
.pyre/
.pytest_cache/
.python-version
.pytype/
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.webassets-cache
/site
API.txt
ENV/
MANIFEST
__pycache__/
__pypackages__/
build/
celerybeat-schedule
celerybeat.pid
cover/
coverage.xml
data/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
htmlcov/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
logs/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
profile_default/
results/
sdist/
share/python-wheels/
skyseg.onnx
target/
third_party
tools/third_party/sam3/.git/
tools/third_party/sam3/checkpoints/
var/
venv.bak/
venv/
visualizations/
wheels/
work_dir/
